.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #FFD401;
}

.form-style {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
